<p id="notice"><%= notice %></p>

<%= form_for(@photo, url: choose_new_or_edit) do |f| %>

  <%= f.error_messages! %>

  <%= f.text_field :content, class: 'form-control', placeholder: "コメント" %>
  <div class="field">
    <% if @photo.img? %>
    <div class="thumbnail">
      <%= image_tag @photo.img.url %>
    </div>
    <% end %>
    <br>
    <%= f.file_field :img %>
    <%= f.hidden_field :img_cache %>
  </div>

  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @photo.persisted? && @photo.img? %>
    <label>
      <%= f.check_box :remove_img %>
      画像を削除
    </label>
    <% end %>
  </div>
  <br>

  <%= f.submit 'シェアする', class: 'btn btn-primary btn-block' %>
  <% end %>
  <%= link_to "投稿一覧にもどる", photos_path %>
