<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>自撮り一覧</h1>
      <%= link_to "投稿する", new_photo_path, class: 'btn btn-default' %>
    <% @photos.each do |photo| %>
    <div class="row">

      <p><%= photo.content %></p> <!--投稿コメントの記載する枠-->
      <p><%= photo.user.name %></p> <!--投稿一覧にだれが投稿したかユーザネームが表示される-->
      <%= link_to "編集", edit_photo_path(photo.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", photo_path(photo.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>
